# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache/
*.pytest_cache/
*.coverage
*.egg-info/
*.eggs/

# Virtual env
venv/
.env
.env.*

# Docker
Dockerfile
docker-compose*.yml

# Media and static
media/
staticfiles/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Git
.git/
.gitignore
